
<h1>Tickets</h1>
<div class="row">
  <% if @tickets.present? %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Request number</th>
          <th scope="col">Sequence number</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        <% for ticket in @tickets %>
          <tr >
            <td><%= ticket.id %></td>
            <td><%= ticket.request_number %></td>
            <td><%= ticket.sequence_number %></td>
            <td><%= link_to "Ticket", ticket %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No tickets in the database!</p>
  <% end %>
</div>
